html {
	margin: 0px;
	padding: 0px;
}
body {
	background: #00284F;
	margin: 0px;
	padding: 0px;
	font-family: Arial;
}

#bottombar {
	background-image: url(bar_m.jpg);
	height: 63px;
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left:-300px;
	width: 600px;
	text-align: center;
}
#bottombar div.left {
	background-image: url(bar_l.jpg);
	height: 63px;
	width: 30px;
	position: absolute;
	left: 0px;
	top: 0px;	
}
#bottombar div.right {
	background-image: url(bar_r.jpg);
	height: 63px;
	width: 30px;
	position: absolute;
	right: 0px;
	top: 0px;	
}
#bottombar ul {
	padding: 0px;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 0px;
	margin-top: 24px;
}
#bottombar ul li {
	list-style-type: none;
	display: inline;
	padding-left: 20px;
	position: relative;	
}
#bottombar ul li:first-child {
	list-style-type: none;
	display: inline;
	padding-left: 0px;
	
}
#bottombar ul li a {
	color: #406ACF;
	font-family: "Arial Rounded MT Bold";
	font-size: 16pt;
	text-decoration: none;
}
#bottombar ul li:hover a {
	color: #fff;
}
#bottombar ul li img.pfeil {
	width: 47px;
	height: 31px;
	position: absolute;
	top: -45px;
	left: 50%;
	margin-left: -24px;
	display: none;
}


#bottombar ul li div.carousel
{
	width: 480px;
	height: 140px;
	position: absolute;
	top: -140px;
	margin-left: -240px;
	left: 50%;
	display: none;
	z-index: 5;
}
div.carousel a
{
	position: absolute;
	width: 100px;
}
div.carousel img {
	border: 0px;
}

#bottombar ul li:hover img {
	display: block;
}