* { padding:0; margin:0; }
img { border:0px; }
a { outline:none; }
html, body { margin:0; height:100%; overflow:auto; background:#FFF; font:10pt Calibri, Arial, san-serif; text-align:center; }
h1 { font:3em Cambria, Times new Roman, serif; margin:10px; display:inline; line-height:70px; cursor:default; }
em { line-height:35px; color:#666; font-size:0.9em;}
.uiShadow, .example, .uiShadow1, .uiShadow2, .uiShadow3, .uiShadow4 { width:400px; height:300px; }
.uiShadow { position:relative; margin:0 auto; }
.example { position:absolute; top:0; left:0; border:1px solid #222; }
.uiShadow1, .uiShadow2, .uiShadow3, .uiShadow4 { background:#000; position:absolute; top:0; left:0; }
.uiShadow1 { opacity:0.25; top:3px; left:3px; width:401px; height:301px; }
.uiShadow2 { opacity:0.20; top:4px; left:5px; height:299px; }
.uiShadow3 { opacity:0.20; top:5px; left:4px; width:399px; }
.uiShadow4 { opacity:0.30; top:5px; left:5px; width:398px; height:298px; }

.uiShadow:hover .example{ margin-top:-3px; margin-left:-3px; }
.uiShadow:hover .uiShadow1,
.uiShadow:hover .uiShadow2,
.uiShadow:hover .uiShadow3,
.uiShadow:hover .uiShadow4 { background:#030; }
.uiShadow:hover .uiShadow1 { opacity:0.20; top:5px; left:5px; width:401px; height:301px; }
.uiShadow:hover .uiShadow2 { opacity:0.15; top:7px; left:7px; height:297px; }
.uiShadow:hover .uiShadow3 { opacity:0.15; top:7px; left:7px; width:397px; }
.uiShadow:hover .uiShadow4 { opacity:0.30; top:6px; left:6px; width:399px; height:299px; }

h1:hover ~ .uiShadow .example { padding:3px; background:#FFF; border-color:#AAA; width:394px; height:294px;}
h1:hover ~ .uiShadow .uiShadow1 { opacity:0.10; }
h1:hover ~ .uiShadow .uiShadow2 { opacity:0.05; }
h1:hover ~ .uiShadow .uiShadow3 { opacity:0.05; }
h1:hover ~ .uiShadow .uiShadow4 { opacity:0.15; }
