.dark { background:#111; color:snow; }
.dark dl, .dark dt, .dark dd { margin:0; padding:0; display:inline; }

.dark textarea { background:#181818; border:1px solid #222; color:#CCC; width:80%; height:50px; overflow:auto; font:.9em Consolas, Courier New, san-serif; padding:0 0 0 2px; }
.dark textarea:focus { background:#141414; }

.dark textarea.resizable.height { position:relative; border-bottom:none; }
.dark textarea.resizable.height + tt { display:block; width:80%; height:4px; background:#222; border:1px solid #2D2D2D; border-top:none; cursor:s-resize; padding:0 0 0 2px; }
.dark textarea.resizable.height + tt { margin-top:-1px; font:6pt Verdana; letter-spacing:6px; font-weight:bold; color:#555; text-align:center; line-height:0px; }

