.light { background:#FFF; color:#111; }
.light dl, .light dt, .light dd { margin:0; padding:0; display:inline; }

.light textarea { background:#F9F9F9; border:1px solid #CCC; width:80%; height:50px; overflow:auto; font:.9em Consolas, Courier New, san-serif; padding:0 0 0 2px; }
.light textarea:focus { background:#F6F6F6; }

.light textarea.resizable.height { position:relative; border-bottom:none; }
.light textarea.resizable.height + tt { display:block; width:80%; height:4px; background:#F3F3F3; border:1px solid #CCC; border-top:none; cursor:s-resize; padding:0 0 0 2px; }
.light textarea.resizable.height + tt { margin-top:-1px; font:6pt Verdana; letter-spacing:6px; font-weight:bold; color:#BBB; text-align:center; line-height:0px; }
.light textarea.resizable.height:focus + tt { background:#EEE; color:#AAA; }


